<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>addquestions</servlet-name>
        <servlet-class>addquestions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view</servlet-name>
        <servlet-class>view</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>start</servlet-name>
        <servlet-class>start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NextQ</servlet-name>
        <servlet-class>NextQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stdlogin</servlet-name>
        <servlet-class>stdlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regstudent</servlet-name>
        <servlet-class>regstudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addquestions</servlet-name>
        <url-pattern>/addquestions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>start</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NextQ</servlet-name>
        <url-pattern>/NextQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stdlogin</servlet-name>
        <url-pattern>/stdlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regstudent</servlet-name>
        <url-pattern>/regstudent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
